#bge{
  background-color: #3d414d;
  background-size: auto;
  background-repeat:no-repeat;
  background-position: right top;
  min-width: 100%;
  min-height: 100%;
}
#bgi{
  background-color: #3d414d;
  background-size: auto;
  background-repeat:no-repeat;
  background-position: right top;
  min-width: 100%;
  min-height: 50px;
}
