.donoteIdentifier{
  margin:10px;
}
.hrControlNote{
  margin-bottom: 3px;
  margin-top: 3px;
}
.donoteLister{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 !important;
  border: 0;
}
.donoteLister:hover {
  background-color: #ededed;
}
.donoteBigLister:hover {
  background-color: #ededed;
}
.donoteListerA {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: block;
  padding:10px 15px;
}
.donoteBadge {
  margin: 10px 15px 10px 0px;
}
