.container{
  padding-bottom: 20px;
}
#logo{
  height:50px;
  margin-left: 0px;
  outline-offset: 30px;
}
#name{
  padding:30px;
}
#text-right{
  text-align: right;
}
#white{
  font-size: 20px;
  color: white;
}
#middle{
  vertical-align: middle;
}
#padding-erase{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#padding-generate-top{
  padding-top:20px;
}
#padding-generate-bottom{
  padding-bottom: 20px;
}
#menu-idle{
  padding-top: 9px;
}
#textarea-text{
  flex: 1;
  height: 30rem;
}
.form-text{
  display: flex;
  flex-direction: column;
}
body{
  height: 100%;
}
.edittime{
  margin-top: -10px;
  margin-bottom: 5px;
}
