#logo {
  width: 1000px;
}
#articleimg {
  width: 300px;
}
#login {
  font-size: 50px;
  font-weight: bold;
  font-family: Noto Sans KR;
  text-align: left;
  color: #ffffff;
}
#lotext {
  text-align: left;
  color: #ffffff;
}
#form {
  width: 300px;
}
#domi {
  font-family: Noto Sans KR;
  font-style: black;
  font-size: 100px;
  color: #ffffff
}
#control {
  padding-bottom: 50px;
  text-align: center;
  bottom: 8px;
}
#container {
  position: relative;
}
.cover {
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.cover.full-window {
  margin-top: 15%;
  margin-left: 25%;
  text-align: center;
  width: 50%;
}
.cover-image {
  min-height: 500px;
}
.covra {
  margin-top: 7%;
  margin-left: 25px;
  width: 50%;
}
.covra2 {
  margin-top: 7%;
  margin-left: 40px;
  width: 50%;
}
