.container{
  padding-bottom: 20px;
}
#white{
  font-size: 20px;
  color: white;
}
#black{
  font-size: 15px;
  color: #3d414d;
}
#padding-generate-bottom{
  padding-bottom: 20px;
}
.margin_42_gen{
  margin-bottom: 42px;
}
#menu-idle{
  padding-top: 9px;
}
.minfifty{
  min-height: 50px;
}
.donoteShareCode {
  width: 350px;
  float: right;
}
@media (max-width: 991.98px){
  hr{
    margin-left: 15px;
    margin-right: 15px;
  }
  .displayOptionWide{
    display: none;
  }
  #padding-generate-top{
    padding-top:60px;
  }
  .noteList{
    height: 200px;
  }
}
@media (min-width: 992px) {
  .displayOptionMobile{
    display: none;
  }
  #padding-generate-top{
    padding-top:10px;
  }
  .noteList{
    height: calc(100vh - 100px);
  }
}
