@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
  font-family:Noto Sans KR;
  font-style:black:
}
.container{
  padding-top:20px;
  padding-bottom: 20px;
}
h1{
  font-family:Noto Sans KR;
  font-style:black:
}
h2{
  font-family:Noto Sans KR;
  font-style:bold;
}
#logo{
  height:50px;
}
#name{
  padding:30px;
}
#text-right{
  text-align: right;
}
#white{
  font-size: 20px;
  color: white;
}
#middle{
  vertical-align: middle;
}
#padding-erase{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
