#logo {
  width: 1000px;
}
#articleimg {
  width: 300px;
}
#login {
  font-size: 50px;
  font-weight: bold;
  font-family: Noto Sans KR;
  text-align: left;
  color: #ffffff;
}
#lotext {
  text-align: left;
  color: #ffffff;
}
#form {
  width: 300px;
}
#domi {
  font-family: Noto Sans KR;
  font-style: black;
  font-size: 100px;
  color: #ffffff
}
#control {
  padding-bottom: 50px;
  text-align: center;
  bottom: 8px;
}
#container {
  position: relative;
}
.cover {
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.cover.full-window {
  margin-top: 15%;
  margin-left: 25%;
  text-align: center;
  width: 50%;
}
.cover-image {
  min-height: 500px;
}
.covra{
  position: absolute;
  margin-left: 40px;
  width: 50%;
}
#white{
  font-size: 40px;
  color: white;
}
@media (max-height: 550px) {
  .covra{
    display: none;
  }
}
@media (min-height: 550px) {
  .covraLogin {
    margin-top: 7%;
  }
  .unable{
    display: none;
  }
  .covraRegister {
    margin-top: 7%;
  }
}
@media (min-height: 600px) {
  .covraLogin {
    margin-top: 10%;
  }
  .covraRegister {
    margin-top: 10%;
  }
}
@media (min-height: 700px) {
  .covraLogin {
    margin-top: 200px;
  }
  .covraRegister {
    margin-top: 15%;
  }
}
@media (min-height: 800px) {
  .covraLogin {
    margin-top: 250px;
  }
}
@media (min-height: 900px) {
  .covraLogin {
    margin-top: 300px;
  }
}
